<mat-toolbar color="primary" class="mat-elevation-z8">
  <mat-toolbar-row>
    <!-- <div fxFlex></div>
    <a href="login" mat-button *ngIf="!loginCtrl.logged;else logged">
      Login
    </a> -->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div fxFlex="grow" class="mat-display-1 markdown-content" [appMarkdown]="title"></div>
    <div fxFlex>
      <a routerLink="/home" mat-button>
        Home
      </a>

      <a routerLink="/about" mat-button>
        About
      </a>

      <mat-menu #appMenu="matMenu">
        <a *ngIf="!loginCtrl.logged" routerLink="/login" mat-menu-item>Login</a>
        <a *ngIf="loginCtrl.logged" routerLink="/you-should-not-be-here" mat-menu-item>Compose</a>
        <a *ngIf="loginCtrl.logged" routerLink="/list" mat-menu-item>Edit</a>
        <button *ngIf="loginCtrl.logged" mat-menu-item (click)="loginCtrl.logoff()">Logout</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu ">
        <mat-icon>more_vert</mat-icon>
      </button>

    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div [hidden]="!loading ">
  <mat-progress-bar mode="buffer "></mat-progress-bar>
</div>
