<mat-sidenav-container>
  <mat-sidenav #sideNav [mode]="sideMode" [opened]="!isSmallScreen" color="primary" class="mat-elevation-z12">

    <app-sidebar>
    </app-sidebar>

  </mat-sidenav>
  <mat-sidenav-content>
    <div fxLayout="row">
      <div fxFlex="grow" fxLayout="column" fxLayoutAlign="start stretch">
        <div fxFlex>

          <app-toolbar [showMenuButton]="isSmallScreen" (menu)="sideNav.toggle();">
          </app-toolbar>

        </div>

        <div *ngIf="inProgress" class="loading mat-elevation-z8">
          <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
        </div>

        <div fxFlex style="margin-top: 1em;">


          <router-outlet>
          </router-outlet>

        </div>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
