<mat-card>
  <mat-card-title>

  </mat-card-title>

  <mat-card-content>

    <mat-selection-list #list>
      <mat-list-option *ngFor="let post of posts$ | async" [value]="post"> {{post.title}} </mat-list-option>
    </mat-selection-list>

  </mat-card-content>
  <mat-card-actions *ngIf="list.selectedOptions.selected.length > 0">

    <button mat-button color="warn" (click)="remove()">
      <span> Remove </span>
      <span>{{list.selectedOptions.selected.length}}</span>
    </button>

  </mat-card-actions>
</mat-card>
