<div style="position: relative;" fxLayout="column row" fxLayoutAlign="center stretch">

  <div style="position: relative" fxLayout="row column" fxLayoutAlign="center center" *ngFor="let post of posts">
    <app-post fxFlex class="article list" [data]="post" showMore="true"></app-post>
  </div>

  <div *ngIf="!notEmpty" style="position: absolute; height: 100%; width: 100%; " fxLayout="row" fxLayoutAlign="center start">
    <div [appMarkdown]="'the content will be loaded... \n \n :fearful: \n\n :pray:'" style="text-align: center; font-size: 5rem"></div>
  </div>

</div>
